# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
*.db
.venv/
venv/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# Android
android/.gradle/
android/build/
android/app/build/
android/local.properties
*.apk
*.aab

# iOS
ios/build/
ios/DerivedData/
ios/*.xcworkspace
ios/Pods/
ios/.build/
